<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<%= stylesheet %>" >
</head>

<body>
  <h1>ABOUT</h1>
  <br />
  <hr class="line">


  <table cellspacing="20">

    <tr>
      <td><img class="Circle" src="" height="350" width="350" alt="imgage-1">
      </td>
      <td>

        <h2>Spend quality time together</h2>
        <p> Be it nothing but just a chitchat,sharing thoughts,sharing memories,or simply watching tv,playing carrom we Goodfellows are eager to lend a listening ear to all that you have to say.</p>

    </tr>
  </table>
  <hr>

  <table cellspacing="20">
    <tr>
      <td>
        <h2>Accompany you</h2>
        <p>From getting your basic requirement to your dialy required medicine Goodfellows are excellent at shopping companions. </p>
      </td>
      <td>
        <img  class="Circle" src="Images/Ima 1.jpeg" height="350" width="350" alt="imgage-2">
        </td>
    </tr>
  </table>
  <hr>
  <table cellspacing="20">
    <tr>
      <td>
        <img class="Circle" src="Images/Ima 2.jpeg" height="350" width="350" alt="image-3">

      </td>
      <td>
        <h2>Technology tutoring</h2>
        <p>Stuck with the new Technology no promblem, we will sit along with you and explain until you got the basic of the that Technology.You name the technology you require we are there to explain you. </p>

      </td>
    </tr>
  </table>
  <hr>